<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>News Articles</title>
    <style>
      .container {
        display: flex;
      }
      .header {
        text-align: center;
      }
      .title {
        font-weight: bold;
      }
      .article {
        display: flex;
        border: double;
        justify-content: space-between;
        padding: 10px;
        gap: 20px;
      }
      .button-save-all {
        font-size: 16px;
        padding: 10px 20px;
      }
    </style>
  </head>
  <body>
    <h1 class="header">Crypto News of the Day</h1>

    <div class="container">
      <form method="POST" action="/articles">
        <button type="submit" class="button-save-all">Save</button>
        <div class="article" data-th-each="article: ${articles}">
          <div>
            <img
              style="width: 250px"
              data-th-src="@{${article.imageurl}}"
              alt=""
            />
          </div>

          <div class="article-contents">
            <p>Id: <span data-th-text="${article.id}"></span></p>

            <p data-th-text="${article.title}" class="title"></p>

            <p data-th-text="${article.body}"></p>

            <p>
              Categories: <span data-th-text="${article.categories}"></span>
            </p>

            <p>Tags: <span data-th-text="${article.tags}"></span></p>

            <div>
              <p>
                Published On:
                <span data-th-text="${article.published_on}"></span>
                <span
                  ><a data-th-href="@{${article.url}}" target="_blank"
                    >Link</a
                  ></span
                >
                <span>
                  <input
                    type="checkbox"
                    name="articleCheckBox"
                    data-th-value="${article.id}"
                /></span>
                <span> <label for="article"> Save</label><br /></span>
              </p>
            </div>
          </div>
        </div>
        <!-- article-contents-->
      </form>
    </div>
    <!-- container -->
  </body>
</html>
